{
  "swagger": "2.0",
  "info": {
    "title": "pim-product-prc-api",
    "version": "v1"
  },
  "host": "anypoint.mulesoft.com",
  "basePath": "/mocking/api/v1/links/dc00feeb-d513-47b5-8d03-3c8b2500fb68/api/pim",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/products": {
      "x-amf-description": "This methods receives product information in json format from pim enable and convert it into xml and publish it into Tibco queue.\n",
      "post": {
        "description": "post the json request\n",
        "parameters": [
          {
            "name": "consumer-id",
            "description": "Unique identifier used to identify consuming application for example, Alfresco",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "transaction-id",
            "description": "Unique value for each API request sent by consuming application for logging tracing.",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_id",
            "description": "Unique identifier assigned to each consuming app for authentication",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_secret",
            "description": "Client secret sent by consuming app for authentication",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "title": "prismPayloadRequest",
              "example": {
                "header": {
                  "transId": "1234",
                  "transType": "PRODUCT",
                  "requestType": "ADD",
                  "userid": "abc",
                  "effDate": "",
                  "cloneType": "",
                  "isResubmit": "N"
                },
                "products": [
                  {
                    "apnMappingRecords": [
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      },
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      }
                    ],
                    "apnSupplierRecord": {
                      "vendorEthnicityCode": "",
                      "vendorSmallBusinessIndicator": ""
                    },
                    "brandRecord": {
                      "brandType": "",
                      "brandOwnerName": "",
                      "derivedAsysBrandName": "",
                      "derivedPsysBrandName": "",
                      "manufacturerNumber": ""
                    },
                    "childNutritionLabelRecords": [
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      },
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      }
                    ],
                    "claimRecords": [
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      },
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      }
                    ],
                    "nutrientRecords": [
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      },
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      }
                    ],
                    "pimGroupRecord": {
                      "gpcCode": "",
                      "gpcDefinition": "",
                      "gpcName": "",
                      "industry": "",
                      "udexCategoryCode": "",
                      "billOfLadingCode": "",
                      "pimCategoryId": "",
                      "pimClassId": "",
                      "pimGroupDescription": "",
                      "pimGroupKeywords": "",
                      "storageCode": "",
                      "storageCodeDescription": "",
                      "pimGroup": "",
                      "productClassCode": "",
                      "productCategoryCode": "",
                      "starWarehouseState": "",
                      "starWarehouseHandling": ""
                    },
                    "productContentManagementRecords": [
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      },
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      }
                    ],
                    "taxRecords": [
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      },
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      }
                    ],
                    "version": "0 / Staging",
                    "state": "",
                    "gtin": "",
                    "glnOfInformationProvider": "",
                    "targetMarketCountryCode": "",
                    "manufacturerProductNumber": "",
                    "barCodeType": "",
                    "canceledDate": "",
                    "classOfDangerousGoods": "",
                    "consumerAvailabilityDateTime": "",
                    "countryOfOrigin": "",
                    "couponFamilyCode": "",
                    "dangerousGoodsHazardousCode": "",
                    "dangerousGoodsIndicator": "",
                    "dangerousGoodsMarginNumber": "",
                    "dangerousGoodsPackingGroup": "",
                    "dangerousGoodsRegulationCode": "",
                    "dangerousGoodsShippingName": "",
                    "dangerousGoodsTechnicalName": "",
                    "degreeOfOriginalWortFmcg": "",
                    "deliveryMethodIndicator": "",
                    "deliveryToDistributionCenterTemperatureMaximum": "",
                    "deliveryToDistributionCenterTemperatureMinimum": "",
                    "deliveryToMarketTemperatureMaximum": "",
                    "deliveryToMarketTemperatureMinimum": "",
                    "departmentOfTransportationDangerousGoodsNumberHl": "",
                    "salesPackDepth": "",
                    "descriptionAdditional": "",
                    "productDescriptionLaptop": "",
                    "descriptiveSize": "",
                    "diameter": "",
                    "discontinuedDate": "",
                    "drainedWeight": "",
                    "pimAddDate": "",
                    "endAvailabilityDateTime": "",
                    "fatPercentageInDryMatterFmcg": "",
                    "flashPointTemperature": "",
                    "functionalName": "",
                    "glnOfBrandOwner": "",
                    "glnOfContentOwner": "",
                    "glnOfManufacturer": "",
                    "glnOfPartiesReceivingPrivateData": "",
                    "glnOfRepresentingParty": "",
                    "glnOfSourceDataPool": "",
                    "grossWeight": "",
                    "harmonizedTariffSystemIdentificationCodeHl": "",
                    "hasBatchNumber": "",
                    "salesPackHeight": "",
                    "productDescriptionCustomerProprietary": "",
                    "isBarCodeSymbologyDerivable": "",
                    "isItemAConsumerUnit": "",
                    "isItemADispatchUnitShipping": "",
                    "catchWeightItem": "",
                    "isItemAnInvoiceUnit": "",
                    "isItemAnOrderableUnit": "",
                    "isNonSoldTradeItemReturnable": "",
                    "isPackagingMarkedAsRecyclable": "",
                    "isPackagingMarkedReturnable": "",
                    "isPackagingMarkedWithExpirationDate": "",
                    "isPackagingMarkedWithGreenDot": "",
                    "isPackagingMarkedWithIngredients": "",
                    "isReload": "",
                    "isUpcDerivableFromGtin": "",
                    "linearUnits": "",
                    "materialSafetyDataSheetNumber": "",
                    "nameOfInformationProvider": "",
                    "manufacturerName": "",
                    "nameOfSourceDataPool": "",
                    "nestingIncrementHl": "",
                    "netContent": "",
                    "netContentUom": "",
                    "netWeight": "",
                    "orderQuantityMaximum": "",
                    "orderQuantityMinimum": "",
                    "orderQuantityMultiple": "",
                    "orderSizingFactor": "",
                    "orderSizingFactorUom": "",
                    "orderingLeadTime": "",
                    "orderingUomHl": "",
                    "outOfBoxDepthHl": "",
                    "outOfBoxHeightHl": "",
                    "outOfBoxWidthHl": "",
                    "packagingMaterialCode": "",
                    "packagingMaterialCodeListMaintenanceAgency": "",
                    "packagingMaterialCompositionQuantity": "",
                    "packagingMaterialCompositionUom": "",
                    "packagingTermsAndConditions": "",
                    "packagingTypeCode": "",
                    "palletTermsAndConditions": "",
                    "palletTypeCode": "",
                    "pegHorizontal": "",
                    "pegVertical": "",
                    "piecesPerTradeItemHl": "",
                    "productRange": "",
                    "publicationDate": "",
                    "quantityOfChildren": "",
                    "quantityOfCompleteLayersContainedInATradeItem": "",
                    "quantityOfInnerPack": "",
                    "quantityOfLayersPerPallet": "",
                    "quantityOfNextLevelTradeItemWithinInnerPack": "",
                    "quantityOfTradeItemsContainedInACompleteLayer": "",
                    "quantityOfTradeItemsPerPallet": "",
                    "quantityOfTradeItemsPerPalletLayer": "",
                    "replacedTradeItemGtin": "",
                    "retailPriceOnTradeItem": "",
                    "sellingUomHl": "",
                    "sizeCodeListAgency": "",
                    "sizeCodeValue": "",
                    "stackingFactor": "",
                    "stackingWeightMaximum": "",
                    "startAvailabiltyDateTime": "",
                    "storageHandlingTemperatureMinimum": "",
                    "storageHandlingTemperatureMaximum": "",
                    "subBrand": "",
                    "suggestedRetailPrice": "",
                    "targetMarketSubdivisionCode": "",
                    "temperatureUom": "",
                    "totalQuantityOfNextLowerLevelTradeItem": "",
                    "tradeItemFinishDescriptionHl": "",
                    "tradeItemFormDescription": "",
                    "tradeItemIdentificationOfNextLowerTradeItem": "",
                    "tradeItemImportClassificationType": "",
                    "tradeItemImportClassificationValue": "",
                    "salesUom": "",
                    "unDangerousGoodsNumber": "",
                    "upcCode": "",
                    "upcType": "",
                    "urlForWarrantyHl": "",
                    "variant": "",
                    "volume": "",
                    "volumeUnits": "",
                    "warrantyDescriptionHl": "",
                    "weightUnits": "",
                    "salesPackWidth": "",
                    "alertNoticeDays": "",
                    "asysProductGroup": "",
                    "attributeType1": "",
                    "attributeType10": "",
                    "attributeType2": "",
                    "attributeType3": "",
                    "attributeType4": "",
                    "attributeType5": "",
                    "attributeType6": "",
                    "attributeType7": "",
                    "attributeType8": "",
                    "attributeType9": "",
                    "attributeValue1": "",
                    "attributeValue10": "",
                    "attributeValue2": "",
                    "attributeValue3": "",
                    "attributeValue4": "",
                    "attributeValue5": "",
                    "attributeValue6": "",
                    "attributeValue7": "",
                    "attributeValue8": "",
                    "attributeValue9": "",
                    "attributeValueAddType1": "",
                    "attributeValueAddType2": "",
                    "attributeValueAddValue1": "",
                    "attributeValueAddValue2": "",
                    "caseImage": "",
                    "commodityProductIndicator": "",
                    "compositeImage": "",
                    "expirationCodeBasis": "",
                    "groundTransportationHazardCode": "",
                    "handlingInstructionsText": "",
                    "hazardousAgencyIndicator": "",
                    "hazardousClassDescription": "",
                    "hazardousGoodsSubClass": "",
                    "hazardousOshaClassCode": "",
                    "hazardousProductDotException": "",
                    "hazardousReportableQuantityIndicator": "",
                    "hazardousResponseGuide": "",
                    "hazardousUom": "",
                    "hazmatQuestioner": "",
                    "headquartersFamilyGroup": "",
                    "ifdaClass": "",
                    "ifdaManufacturerId": "",
                    "ifdaManufacturerProductNumber": "",
                    "innerPackQuantity": "",
                    "itemImage": "",
                    "lowestLevelProductHierarchyDerivedPackSize": "",
                    "manufacturerHi": "",
                    "manufacturerMinorityCode": "",
                    "manufacturerMinorityCodeDescription": "",
                    "manufacturerTi": "",
                    "masterPackQuantity": "",
                    "materialSafetyDataSheet": "",
                    "moistureLoss": "",
                    "nutritionalUpdateDate": "",
                    "operatorComments": "",
                    "picturePath": "",
                    "pimGroupId": "",
                    "productMasterNumber": "",
                    "productDescriptionPsysMainframe": "",
                    "cashAndCarryEligible": "",
                    "retailUpc": "",
                    "productDescriptionUsf": "",
                    "productSegmentationEffectiveDate": "",
                    "productSegmentationLevelOne": "",
                    "productSegmentationLevelThree": "",
                    "productSegmentationLevelTwo": "",
                    "productStatus": "",
                    "purchasePackDepth": "",
                    "purchasePackHeight": "",
                    "purchasingPackSizeDescription": "",
                    "purchasePackUom": "",
                    "purchasePackWidth": "",
                    "quantityOfPortions": "",
                    "quantityOfPortionsUom": "",
                    "quantityOfSecondLevelInnerPack": "",
                    "readyToEatProductIndicator": "",
                    "readyToEatTemperatureCheckRequiredIndicator": "",
                    "recommendedServingSize": "",
                    "replacedBy": "",
                    "salesPackSizeLong": "",
                    "salesPackSizeShort": "",
                    "servingSize": "",
                    "servingSizeType": "",
                    "servingSizeUom": "",
                    "servingSuggestions": "",
                    "shelfLife": "",
                    "shelfLifeUom": "",
                    "smallestSalesPackQuantity": "",
                    "smallestSalesPackUsfProductNumber": "",
                    "smallestSalesPackUnit": "",
                    "sourceUsfStandardProductCode": "",
                    "specSheet": "",
                    "starCategoryIntermediate": "",
                    "starCategoryMajor": "",
                    "tradeItemIdentificationType": "",
                    "tradeItemVolumeFromVendor": "",
                    "usaEstIdNum": "",
                    "usfDangerousGoodsCode": "",
                    "usfNetContent": "",
                    "usfProductNumber": "",
                    "vendorDiscontinuedDate": "",
                    "vendorSpecifiedMaximumStackablePallets": "",
                    "vendorSpecifiedMaximumStackableTiers": "",
                    "vendorSpecifiedPalletSize": "",
                    "weightDensity": "",
                    "marketingImage": "",
                    "modificationType": "",
                    "recommendedServingSizeUom": "",
                    "replacementUsfProductNumber": "",
                    "approvedManufacturers": "",
                    "productCodeOnBol": "",
                    "productCodePrinting": "",
                    "productCodeType": "",
                    "meatBuyersGuideNumber": "",
                    "imageAvailabilityIndicator": "",
                    "beefGrade": "",
                    "pimSuperClassId": "",
                    "mainframeId": "",
                    "refStatus": "",
                    "hqFamilyClassId": "",
                    "laptopDesc": "",
                    "descriptionLong": "",
                    "categoryManagerNetworkId": "",
                    "categoryVpNetworkId": "",
                    "lastUpdateDate": "",
                    "nutrientIngredients": "",
                    "cataloguePrice": "",
                    "cataloguePriceEffectiveEndDate": "",
                    "cataloguePriceEffectiveStartDate": "",
                    "colorCodeListAgency": "",
                    "colorCodeValue": "",
                    "colorDescription": "",
                    "genericIngredient": "",
                    "genericIngredientStrength": "",
                    "handlingInstructionsCode": "",
                    "ingredientStrength": "",
                    "isNetContentDeclarationIndicated": "",
                    "minimumTradeItemLifespanFromTimeOfArrival": "",
                    "modelNumberHl": "",
                    "returnGoodsPolicyHl": "",
                    "securityTagLocationHl": "",
                    "tradeItemGroupIdentificationCode": "",
                    "tradeItemGroupIdentificationDescription": "",
                    "biotinRdv": "",
                    "bwWorflowId": "",
                    "carbsOtherRdv": "",
                    "copperRdv": "",
                    "footnoteRdvPercentage": "",
                    "iodineRdv": "",
                    "insolubleFiberRdv": "",
                    "juicepct": "",
                    "magnesiumRdv": "",
                    "niacinRdv": "",
                    "pantothenicRdv": "",
                    "phosphorousRdv": "",
                    "potassiumRdv": "",
                    "riboflavinRdv": "",
                    "servingPerTradeItem": "",
                    "solubleFiberRdv": "",
                    "sugarAlocholRdv": "",
                    "thiaminRdv": "",
                    "totalSugarRdv": "",
                    "vitaminB12Rdv": "",
                    "vitaminB6Rdv": "",
                    "vitaminDRdv": "",
                    "vitaminERdv": "",
                    "vitaminKRdv": "",
                    "zincRdv": "",
                    "division": "",
                    "exclusiveBrand": "",
                    "priorityIndicator": "",
                    "categoryManagerName": "",
                    "categoryVpName": ""
                  },
                  {
                    "apnMappingRecords": [
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      },
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      }
                    ],
                    "apnSupplierRecord": {
                      "vendorEthnicityCode": "",
                      "vendorSmallBusinessIndicator": ""
                    },
                    "brandRecord": {
                      "brandType": "",
                      "brandOwnerName": "",
                      "derivedAsysBrandName": "",
                      "derivedPsysBrandName": "",
                      "manufacturerNumber": ""
                    },
                    "childNutritionLabelRecords": [
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      },
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      }
                    ],
                    "claimRecords": [
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      },
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      }
                    ],
                    "nutrientRecords": [
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      },
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      }
                    ],
                    "pimGroupRecord": {
                      "gpcCode": "",
                      "gpcDefinition": "",
                      "gpcName": "",
                      "industry": "",
                      "udexCategoryCode": "",
                      "billOfLadingCode": "",
                      "pimCategoryId": "",
                      "pimClassId": "",
                      "pimGroupDescription": "",
                      "pimGroupKeywords": "",
                      "storageCode": "",
                      "storageCodeDescription": "",
                      "pimGroup": "",
                      "productClassCode": "",
                      "productCategoryCode": "",
                      "starWarehouseState": "",
                      "starWarehouseHandling": ""
                    },
                    "productContentManagementRecords": [
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      },
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      }
                    ],
                    "taxRecords": [
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      },
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      }
                    ],
                    "version": "-1 / Production",
                    "state": "",
                    "gtin": "",
                    "glnOfInformationProvider": "",
                    "targetMarketCountryCode": "",
                    "manufacturerProductNumber": "",
                    "barCodeType": "",
                    "canceledDate": "",
                    "classOfDangerousGoods": "",
                    "consumerAvailabilityDateTime": "",
                    "countryOfOrigin": "",
                    "couponFamilyCode": "",
                    "dangerousGoodsHazardousCode": "",
                    "dangerousGoodsIndicator": "",
                    "dangerousGoodsMarginNumber": "",
                    "dangerousGoodsPackingGroup": "",
                    "dangerousGoodsRegulationCode": "",
                    "dangerousGoodsShippingName": "",
                    "dangerousGoodsTechnicalName": "",
                    "degreeOfOriginalWortFmcg": "",
                    "deliveryMethodIndicator": "",
                    "deliveryToDistributionCenterTemperatureMaximum": "",
                    "deliveryToDistributionCenterTemperatureMinimum": "",
                    "deliveryToMarketTemperatureMaximum": "",
                    "deliveryToMarketTemperatureMinimum": "",
                    "departmentOfTransportationDangerousGoodsNumberHl": "",
                    "salesPackDepth": "",
                    "descriptionAdditional": "",
                    "productDescriptionLaptop": "",
                    "descriptiveSize": "",
                    "diameter": "",
                    "discontinuedDate": "",
                    "drainedWeight": "",
                    "pimAddDate": "",
                    "endAvailabilityDateTime": "",
                    "fatPercentageInDryMatterFmcg": "",
                    "flashPointTemperature": "",
                    "functionalName": "",
                    "glnOfBrandOwner": "",
                    "glnOfContentOwner": "",
                    "glnOfManufacturer": "",
                    "glnOfPartiesReceivingPrivateData": "",
                    "glnOfRepresentingParty": "",
                    "glnOfSourceDataPool": "",
                    "grossWeight": "",
                    "harmonizedTariffSystemIdentificationCodeHl": "",
                    "hasBatchNumber": "",
                    "salesPackHeight": "",
                    "productDescriptionCustomerProprietary": "",
                    "isBarCodeSymbologyDerivable": "",
                    "isItemAConsumerUnit": "",
                    "isItemADispatchUnitShipping": "",
                    "catchWeightItem": "",
                    "isItemAnInvoiceUnit": "",
                    "isItemAnOrderableUnit": "",
                    "isNonSoldTradeItemReturnable": "",
                    "isPackagingMarkedAsRecyclable": "",
                    "isPackagingMarkedReturnable": "",
                    "isPackagingMarkedWithExpirationDate": "",
                    "isPackagingMarkedWithGreenDot": "",
                    "isPackagingMarkedWithIngredients": "",
                    "isReload": "",
                    "isUpcDerivableFromGtin": "",
                    "linearUnits": "",
                    "materialSafetyDataSheetNumber": "",
                    "nameOfInformationProvider": "",
                    "manufacturerName": "",
                    "nameOfSourceDataPool": "",
                    "nestingIncrementHl": "",
                    "netContent": "",
                    "netContentUom": "",
                    "netWeight": "",
                    "orderQuantityMaximum": "",
                    "orderQuantityMinimum": "",
                    "orderQuantityMultiple": "",
                    "orderSizingFactor": "",
                    "orderSizingFactorUom": "",
                    "orderingLeadTime": "",
                    "orderingUomHl": "",
                    "outOfBoxDepthHl": "",
                    "outOfBoxHeightHl": "",
                    "outOfBoxWidthHl": "",
                    "packagingMaterialCode": "",
                    "packagingMaterialCodeListMaintenanceAgency": "",
                    "packagingMaterialCompositionQuantity": "",
                    "packagingMaterialCompositionUom": "",
                    "packagingTermsAndConditions": "",
                    "packagingTypeCode": "",
                    "palletTermsAndConditions": "",
                    "palletTypeCode": "",
                    "pegHorizontal": "",
                    "pegVertical": "",
                    "piecesPerTradeItemHl": "",
                    "productRange": "",
                    "publicationDate": "",
                    "quantityOfChildren": "",
                    "quantityOfCompleteLayersContainedInATradeItem": "",
                    "quantityOfInnerPack": "",
                    "quantityOfLayersPerPallet": "",
                    "quantityOfNextLevelTradeItemWithinInnerPack": "",
                    "quantityOfTradeItemsContainedInACompleteLayer": "",
                    "quantityOfTradeItemsPerPallet": "",
                    "quantityOfTradeItemsPerPalletLayer": "",
                    "replacedTradeItemGtin": "",
                    "retailPriceOnTradeItem": "",
                    "sellingUomHl": "",
                    "sizeCodeListAgency": "",
                    "sizeCodeValue": "",
                    "stackingFactor": "",
                    "stackingWeightMaximum": "",
                    "startAvailabiltyDateTime": "",
                    "storageHandlingTemperatureMinimum": "",
                    "storageHandlingTemperatureMaximum": "",
                    "subBrand": "",
                    "suggestedRetailPrice": "",
                    "targetMarketSubdivisionCode": "",
                    "temperatureUom": "",
                    "totalQuantityOfNextLowerLevelTradeItem": "",
                    "tradeItemFinishDescriptionHl": "",
                    "tradeItemFormDescription": "",
                    "tradeItemIdentificationOfNextLowerTradeItem": "",
                    "tradeItemImportClassificationType": "",
                    "tradeItemImportClassificationValue": "",
                    "salesUom": "",
                    "unDangerousGoodsNumber": "",
                    "upcCode": "",
                    "upcType": "",
                    "urlForWarrantyHl": "",
                    "variant": "",
                    "volume": "",
                    "volumeUnits": "",
                    "warrantyDescriptionHl": "",
                    "weightUnits": "",
                    "salesPackWidth": "",
                    "alertNoticeDays": "",
                    "asysProductGroup": "",
                    "attributeType1": "",
                    "attributeType10": "",
                    "attributeType2": "",
                    "attributeType3": "",
                    "attributeType4": "",
                    "attributeType5": "",
                    "attributeType6": "",
                    "attributeType7": "",
                    "attributeType8": "",
                    "attributeType9": "",
                    "attributeValue1": "",
                    "attributeValue10": "",
                    "attributeValue2": "",
                    "attributeValue3": "",
                    "attributeValue4": "",
                    "attributeValue5": "",
                    "attributeValue6": "",
                    "attributeValue7": "",
                    "attributeValue8": "",
                    "attributeValue9": "",
                    "attributeValueAddType1": "",
                    "attributeValueAddType2": "",
                    "attributeValueAddValue1": "",
                    "attributeValueAddValue2": "",
                    "caseImage": "",
                    "commodityProductIndicator": "",
                    "compositeImage": "",
                    "expirationCodeBasis": "",
                    "groundTransportationHazardCode": "",
                    "handlingInstructionsText": "",
                    "hazardousAgencyIndicator": "",
                    "hazardousClassDescription": "",
                    "hazardousGoodsSubClass": "",
                    "hazardousOshaClassCode": "",
                    "hazardousProductDotException": "",
                    "hazardousReportableQuantityIndicator": "",
                    "hazardousResponseGuide": "",
                    "hazardousUom": "",
                    "hazmatQuestioner": "",
                    "headquartersFamilyGroup": "",
                    "ifdaClass": "",
                    "ifdaManufacturerId": "",
                    "ifdaManufacturerProductNumber": "",
                    "innerPackQuantity": "",
                    "itemImage": "",
                    "lowestLevelProductHierarchyDerivedPackSize": "",
                    "manufacturerHi": "",
                    "manufacturerMinorityCode": "",
                    "manufacturerMinorityCodeDescription": "",
                    "manufacturerTi": "",
                    "masterPackQuantity": "",
                    "materialSafetyDataSheet": "",
                    "moistureLoss": "",
                    "nutritionalUpdateDate": "",
                    "operatorComments": "",
                    "picturePath": "",
                    "pimGroupId": "",
                    "productMasterNumber": "",
                    "productDescriptionPsysMainframe": "",
                    "cashAndCarryEligible": "",
                    "retailUpc": "",
                    "productDescriptionUsf": "",
                    "productSegmentationEffectiveDate": "",
                    "productSegmentationLevelOne": "",
                    "productSegmentationLevelThree": "",
                    "productSegmentationLevelTwo": "",
                    "productStatus": "",
                    "purchasePackDepth": "",
                    "purchasePackHeight": "",
                    "purchasingPackSizeDescription": "",
                    "purchasePackUom": "",
                    "purchasePackWidth": "",
                    "quantityOfPortions": "",
                    "quantityOfPortionsUom": "",
                    "quantityOfSecondLevelInnerPack": "",
                    "readyToEatProductIndicator": "",
                    "readyToEatTemperatureCheckRequiredIndicator": "",
                    "recommendedServingSize": "",
                    "replacedBy": "",
                    "salesPackSizeLong": "",
                    "salesPackSizeShort": "",
                    "servingSize": "",
                    "servingSizeType": "",
                    "servingSizeUom": "",
                    "servingSuggestions": "",
                    "shelfLife": "",
                    "shelfLifeUom": "",
                    "smallestSalesPackQuantity": "",
                    "smallestSalesPackUsfProductNumber": "",
                    "smallestSalesPackUnit": "",
                    "sourceUsfStandardProductCode": "",
                    "specSheet": "",
                    "starCategoryIntermediate": "",
                    "starCategoryMajor": "",
                    "tradeItemIdentificationType": "",
                    "tradeItemVolumeFromVendor": "",
                    "usaEstIdNum": "",
                    "usfDangerousGoodsCode": "",
                    "usfNetContent": "",
                    "usfProductNumber": "",
                    "vendorDiscontinuedDate": "",
                    "vendorSpecifiedMaximumStackablePallets": "",
                    "vendorSpecifiedMaximumStackableTiers": "",
                    "vendorSpecifiedPalletSize": "",
                    "weightDensity": "",
                    "marketingImage": "",
                    "modificationType": "",
                    "recommendedServingSizeUom": "",
                    "replacementUsfProductNumber": "",
                    "approvedManufacturers": "",
                    "productCodeOnBol": "",
                    "productCodePrinting": "",
                    "productCodeType": "",
                    "meatBuyersGuideNumber": "",
                    "imageAvailabilityIndicator": "",
                    "beefGrade": "",
                    "pimSuperClassId": "",
                    "mainframeId": "",
                    "refStatus": "",
                    "hqFamilyClassId": "",
                    "laptopDesc": "",
                    "descriptionLong": "",
                    "categoryManagerNetworkId": "",
                    "categoryVpNetworkId": "",
                    "lastUpdateDate": "",
                    "nutrientIngredients": "",
                    "cataloguePrice": "",
                    "cataloguePriceEffectiveEndDate": "",
                    "cataloguePriceEffectiveStartDate": "",
                    "colorCodeListAgency": "",
                    "colorCodeValue": "",
                    "colorDescription": "",
                    "genericIngredient": "",
                    "genericIngredientStrength": "",
                    "handlingInstructionsCode": "",
                    "ingredientStrength": "",
                    "isNetContentDeclarationIndicated": "",
                    "minimumTradeItemLifespanFromTimeOfArrival": "",
                    "modelNumberHl": "",
                    "returnGoodsPolicyHl": "",
                    "securityTagLocationHl": "",
                    "tradeItemGroupIdentificationCode": "",
                    "tradeItemGroupIdentificationDescription": "",
                    "biotinRdv": "",
                    "bwWorflowId": "",
                    "carbsOtherRdv": "",
                    "copperRdv": "",
                    "footnoteRdvPercentage": "",
                    "iodineRdv": "",
                    "insolubleFiberRdv": "",
                    "juicepct": "",
                    "magnesiumRdv": "",
                    "niacinRdv": "",
                    "pantothenicRdv": "",
                    "phosphorousRdv": "",
                    "potassiumRdv": "",
                    "riboflavinRdv": "",
                    "servingPerTradeItem": "",
                    "solubleFiberRdv": "",
                    "sugarAlocholRdv": "",
                    "thiaminRdv": "",
                    "totalSugarRdv": "",
                    "vitaminB12Rdv": "",
                    "vitaminB6Rdv": "",
                    "vitaminDRdv": "",
                    "vitaminERdv": "",
                    "vitaminKRdv": "",
                    "zincRdv": "",
                    "division": "",
                    "exclusiveBrand": "",
                    "priorityIndicator": "",
                    "categoryManagerName": "",
                    "categoryVpName": ""
                  }
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "products",
                "header"
              ],
              "properties": {
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "apnMappingRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "quantityOfNextLowerTradeItem": {
                              "type": "string"
                            },
                            "purchasingConversionFactor": {
                              "type": "string"
                            },
                            "relType": {
                              "type": "string"
                            },
                            "convFctr": {
                              "type": "string"
                            },
                            "ndgFlag": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "apnSupplierRecord": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "vendorEthnicityCode": {
                            "type": "string"
                          },
                          "vendorSmallBusinessIndicator": {
                            "type": "string"
                          }
                        }
                      },
                      "brandRecord": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "brandType": {
                            "type": "string"
                          },
                          "brandOwnerName": {
                            "type": "string"
                          },
                          "derivedAsysBrandName": {
                            "type": "string"
                          },
                          "derivedPsysBrandName": {
                            "type": "string"
                          },
                          "manufacturerNumber": {
                            "type": "string"
                          }
                        }
                      },
                      "childNutritionLabelRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "childNutritionCertificate": {
                              "type": "string"
                            },
                            "childNutritionCertification": {
                              "type": "string"
                            },
                            "childNutritionCertificationNumber": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "claimRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "claimName": {
                              "type": "string"
                            },
                            "claimsStatement": {
                              "type": "string"
                            },
                            "certificationAgency": {
                              "type": "string"
                            },
                            "certificationNumber": {
                              "type": "string"
                            },
                            "claimValue": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "nutrientRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "nutrientName": {
                              "type": "string"
                            },
                            "nutrientRDVPercentage": {
                              "type": "string"
                            },
                            "nutrientUOM": {
                              "type": "string"
                            },
                            "nutrientValue": {
                              "type": "string"
                            },
                            "servingPerContainer": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "pimGroupRecord": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "gpcCode": {
                            "type": "string"
                          },
                          "gpcDefinition": {
                            "type": "string"
                          },
                          "gpcName": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "udexCategoryCode": {
                            "type": "string"
                          },
                          "billOfLadingCode": {
                            "type": "string"
                          },
                          "pimCategoryId": {
                            "type": "string"
                          },
                          "pimClassId": {
                            "type": "string"
                          },
                          "pimGroupDescription": {
                            "type": "string"
                          },
                          "pimGroupKeywords": {
                            "type": "string"
                          },
                          "storageCode": {
                            "type": "string"
                          },
                          "storageCodeDescription": {
                            "type": "string"
                          },
                          "pimGroup": {
                            "type": "string"
                          },
                          "productClassCode": {
                            "type": "string"
                          },
                          "productCategoryCode": {
                            "type": "string"
                          },
                          "starWarehouseState": {
                            "type": "string"
                          },
                          "starWarehouseHandling": {
                            "type": "string"
                          }
                        }
                      },
                      "productContentManagementRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "brandName": {
                              "type": "string"
                            },
                            "preparationInstructions": {
                              "type": "string"
                            },
                            "benefits": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "taxRecords": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "taxAgencyCode": {
                              "type": "string"
                            },
                            "taxAmount": {
                              "type": "string"
                            },
                            "taxRate": {
                              "type": "string"
                            },
                            "taxTypeCode": {
                              "type": "string"
                            },
                            "taxTypeDescription": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "version": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "gtin": {
                        "type": "string"
                      },
                      "glnOfInformationProvider": {
                        "type": "string"
                      },
                      "targetMarketCountryCode": {
                        "type": "string"
                      },
                      "manufacturerProductNumber": {
                        "type": "string"
                      },
                      "barCodeType": {
                        "type": "string"
                      },
                      "canceledDate": {
                        "type": "string"
                      },
                      "classOfDangerousGoods": {
                        "type": "string"
                      },
                      "consumerAvailabilityDateTime": {
                        "type": "string"
                      },
                      "countryOfOrigin": {
                        "type": "string"
                      },
                      "couponFamilyCode": {
                        "type": "string"
                      },
                      "dangerousGoodsHazardousCode": {
                        "type": "string"
                      },
                      "dangerousGoodsIndicator": {
                        "type": "string"
                      },
                      "dangerousGoodsMarginNumber": {
                        "type": "string"
                      },
                      "dangerousGoodsPackingGroup": {
                        "type": "string"
                      },
                      "dangerousGoodsRegulationCode": {
                        "type": "string"
                      },
                      "dangerousGoodsShippingName": {
                        "type": "string"
                      },
                      "dangerousGoodsTechnicalName": {
                        "type": "string"
                      },
                      "degreeOfOriginalWortFmcg": {
                        "type": "string"
                      },
                      "deliveryMethodIndicator": {
                        "type": "string"
                      },
                      "deliveryToDistributionCenterTemperatureMaximum": {
                        "type": "string"
                      },
                      "deliveryToDistributionCenterTemperatureMinimum": {
                        "type": "string"
                      },
                      "deliveryToMarketTemperatureMaximum": {
                        "type": "string"
                      },
                      "deliveryToMarketTemperatureMinimum": {
                        "type": "string"
                      },
                      "departmentOfTransportationDangerousGoodsNumberHl": {
                        "type": "string"
                      },
                      "salesPackDepth": {
                        "type": "string"
                      },
                      "descriptionAdditional": {
                        "type": "string"
                      },
                      "productDescriptionLaptop": {
                        "type": "string"
                      },
                      "descriptiveSize": {
                        "type": "string"
                      },
                      "diameter": {
                        "type": "string"
                      },
                      "discontinuedDate": {
                        "type": "string"
                      },
                      "drainedWeight": {
                        "type": "string"
                      },
                      "pimAddDate": {
                        "type": "string"
                      },
                      "endAvailabilityDateTime": {
                        "type": "string"
                      },
                      "fatPercentageInDryMatterFmcg": {
                        "type": "string"
                      },
                      "flashPointTemperature": {
                        "type": "string"
                      },
                      "functionalName": {
                        "type": "string"
                      },
                      "glnOfBrandOwner": {
                        "type": "string"
                      },
                      "glnOfContentOwner": {
                        "type": "string"
                      },
                      "glnOfManufacturer": {
                        "type": "string"
                      },
                      "glnOfPartiesReceivingPrivateData": {
                        "type": "string"
                      },
                      "glnOfRepresentingParty": {
                        "type": "string"
                      },
                      "glnOfSourceDataPool": {
                        "type": "string"
                      },
                      "grossWeight": {
                        "type": "string"
                      },
                      "harmonizedTariffSystemIdentificationCodeHl": {
                        "type": "string"
                      },
                      "hasBatchNumber": {
                        "type": "string"
                      },
                      "salesPackHeight": {
                        "type": "string"
                      },
                      "productDescriptionCustomerProprietary": {
                        "type": "string"
                      },
                      "isBarCodeSymbologyDerivable": {
                        "type": "string"
                      },
                      "isItemAConsumerUnit": {
                        "type": "string"
                      },
                      "isItemADispatchUnitShipping": {
                        "type": "string"
                      },
                      "catchWeightItem": {
                        "type": "string"
                      },
                      "isItemAnInvoiceUnit": {
                        "type": "string"
                      },
                      "isItemAnOrderableUnit": {
                        "type": "string"
                      },
                      "isNonSoldTradeItemReturnable": {
                        "type": "string"
                      },
                      "isPackagingMarkedAsRecyclable": {
                        "type": "string"
                      },
                      "isPackagingMarkedReturnable": {
                        "type": "string"
                      },
                      "isPackagingMarkedWithExpirationDate": {
                        "type": "string"
                      },
                      "isPackagingMarkedWithGreenDot": {
                        "type": "string"
                      },
                      "isPackagingMarkedWithIngredients": {
                        "type": "string"
                      },
                      "isReload": {
                        "type": "string"
                      },
                      "isUpcDerivableFromGtin": {
                        "type": "string"
                      },
                      "linearUnits": {
                        "type": "string"
                      },
                      "materialSafetyDataSheetNumber": {
                        "type": "string"
                      },
                      "nameOfInformationProvider": {
                        "type": "string"
                      },
                      "manufacturerName": {
                        "type": "string"
                      },
                      "nameOfSourceDataPool": {
                        "type": "string"
                      },
                      "nestingIncrementHl": {
                        "type": "string"
                      },
                      "netContent": {
                        "type": "string"
                      },
                      "netContentUom": {
                        "type": "string"
                      },
                      "netWeight": {
                        "type": "string"
                      },
                      "orderQuantityMaximum": {
                        "type": "string"
                      },
                      "orderQuantityMinimum": {
                        "type": "string"
                      },
                      "orderQuantityMultiple": {
                        "type": "string"
                      },
                      "orderSizingFactor": {
                        "type": "string"
                      },
                      "orderSizingFactorUom": {
                        "type": "string"
                      },
                      "orderingLeadTime": {
                        "type": "string"
                      },
                      "orderingUomHl": {
                        "type": "string"
                      },
                      "outOfBoxDepthHl": {
                        "type": "string"
                      },
                      "outOfBoxHeightHl": {
                        "type": "string"
                      },
                      "outOfBoxWidthHl": {
                        "type": "string"
                      },
                      "packagingMaterialCode": {
                        "type": "string"
                      },
                      "packagingMaterialCodeListMaintenanceAgency": {
                        "type": "string"
                      },
                      "packagingMaterialCompositionQuantity": {
                        "type": "string"
                      },
                      "packagingMaterialCompositionUom": {
                        "type": "string"
                      },
                      "packagingTermsAndConditions": {
                        "type": "string"
                      },
                      "packagingTypeCode": {
                        "type": "string"
                      },
                      "palletTermsAndConditions": {
                        "type": "string"
                      },
                      "palletTypeCode": {
                        "type": "string"
                      },
                      "pegHorizontal": {
                        "type": "string"
                      },
                      "pegVertical": {
                        "type": "string"
                      },
                      "piecesPerTradeItemHl": {
                        "type": "string"
                      },
                      "productRange": {
                        "type": "string"
                      },
                      "publicationDate": {
                        "type": "string"
                      },
                      "quantityOfChildren": {
                        "type": "string"
                      },
                      "quantityOfCompleteLayersContainedInATradeItem": {
                        "type": "string"
                      },
                      "quantityOfInnerPack": {
                        "type": "string"
                      },
                      "quantityOfLayersPerPallet": {
                        "type": "string"
                      },
                      "quantityOfNextLevelTradeItemWithinInnerPack": {
                        "type": "string"
                      },
                      "quantityOfTradeItemsContainedInACompleteLayer": {
                        "type": "string"
                      },
                      "quantityOfTradeItemsPerPallet": {
                        "type": "string"
                      },
                      "quantityOfTradeItemsPerPalletLayer": {
                        "type": "string"
                      },
                      "replacedTradeItemGtin": {
                        "type": "string"
                      },
                      "retailPriceOnTradeItem": {
                        "type": "string"
                      },
                      "sellingUomHl": {
                        "type": "string"
                      },
                      "sizeCodeListAgency": {
                        "type": "string"
                      },
                      "sizeCodeValue": {
                        "type": "string"
                      },
                      "stackingFactor": {
                        "type": "string"
                      },
                      "stackingWeightMaximum": {
                        "type": "string"
                      },
                      "startAvailabiltyDateTime": {
                        "type": "string"
                      },
                      "storageHandlingTemperatureMinimum": {
                        "type": "string"
                      },
                      "storageHandlingTemperatureMaximum": {
                        "type": "string"
                      },
                      "subBrand": {
                        "type": "string"
                      },
                      "suggestedRetailPrice": {
                        "type": "string"
                      },
                      "targetMarketSubdivisionCode": {
                        "type": "string"
                      },
                      "temperatureUom": {
                        "type": "string"
                      },
                      "totalQuantityOfNextLowerLevelTradeItem": {
                        "type": "string"
                      },
                      "tradeItemFinishDescriptionHl": {
                        "type": "string"
                      },
                      "tradeItemFormDescription": {
                        "type": "string"
                      },
                      "tradeItemIdentificationOfNextLowerTradeItem": {
                        "type": "string"
                      },
                      "tradeItemImportClassificationType": {
                        "type": "string"
                      },
                      "tradeItemImportClassificationValue": {
                        "type": "string"
                      },
                      "salesUom": {
                        "type": "string"
                      },
                      "unDangerousGoodsNumber": {
                        "type": "string"
                      },
                      "upcCode": {
                        "type": "string"
                      },
                      "upcType": {
                        "type": "string"
                      },
                      "urlForWarrantyHl": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "string"
                      },
                      "volume": {
                        "type": "string"
                      },
                      "volumeUnits": {
                        "type": "string"
                      },
                      "warrantyDescriptionHl": {
                        "type": "string"
                      },
                      "weightUnits": {
                        "type": "string"
                      },
                      "salesPackWidth": {
                        "type": "string"
                      },
                      "alertNoticeDays": {
                        "type": "string"
                      },
                      "asysProductGroup": {
                        "type": "string"
                      },
                      "attributeType1": {
                        "type": "string"
                      },
                      "attributeType10": {
                        "type": "string"
                      },
                      "attributeType2": {
                        "type": "string"
                      },
                      "attributeType3": {
                        "type": "string"
                      },
                      "attributeType4": {
                        "type": "string"
                      },
                      "attributeType5": {
                        "type": "string"
                      },
                      "attributeType6": {
                        "type": "string"
                      },
                      "attributeType7": {
                        "type": "string"
                      },
                      "attributeType8": {
                        "type": "string"
                      },
                      "attributeType9": {
                        "type": "string"
                      },
                      "attributeValue1": {
                        "type": "string"
                      },
                      "attributeValue10": {
                        "type": "string"
                      },
                      "attributeValue2": {
                        "type": "string"
                      },
                      "attributeValue3": {
                        "type": "string"
                      },
                      "attributeValue4": {
                        "type": "string"
                      },
                      "attributeValue5": {
                        "type": "string"
                      },
                      "attributeValue6": {
                        "type": "string"
                      },
                      "attributeValue7": {
                        "type": "string"
                      },
                      "attributeValue8": {
                        "type": "string"
                      },
                      "attributeValue9": {
                        "type": "string"
                      },
                      "attributeValueAddType1": {
                        "type": "string"
                      },
                      "attributeValueAddType2": {
                        "type": "string"
                      },
                      "attributeValueAddValue1": {
                        "type": "string"
                      },
                      "attributeValueAddValue2": {
                        "type": "string"
                      },
                      "caseImage": {
                        "type": "string"
                      },
                      "commodityProductIndicator": {
                        "type": "string"
                      },
                      "compositeImage": {
                        "type": "string"
                      },
                      "expirationCodeBasis": {
                        "type": "string"
                      },
                      "groundTransportationHazardCode": {
                        "type": "string"
                      },
                      "handlingInstructionsText": {
                        "type": "string"
                      },
                      "hazardousAgencyIndicator": {
                        "type": "string"
                      },
                      "hazardousClassDescription": {
                        "type": "string"
                      },
                      "hazardousGoodsSubClass": {
                        "type": "string"
                      },
                      "hazardousOshaClassCode": {
                        "type": "string"
                      },
                      "hazardousProductDotException": {
                        "type": "string"
                      },
                      "hazardousReportableQuantityIndicator": {
                        "type": "string"
                      },
                      "hazardousResponseGuide": {
                        "type": "string"
                      },
                      "hazardousUom": {
                        "type": "string"
                      },
                      "hazmatQuestioner": {
                        "type": "string"
                      },
                      "headquartersFamilyGroup": {
                        "type": "string"
                      },
                      "ifdaClass": {
                        "type": "string"
                      },
                      "ifdaManufacturerId": {
                        "type": "string"
                      },
                      "ifdaManufacturerProductNumber": {
                        "type": "string"
                      },
                      "innerPackQuantity": {
                        "type": "string"
                      },
                      "itemImage": {
                        "type": "string"
                      },
                      "lowestLevelProductHierarchyDerivedPackSize": {
                        "type": "string"
                      },
                      "manufacturerHi": {
                        "type": "string"
                      },
                      "manufacturerMinorityCode": {
                        "type": "string"
                      },
                      "manufacturerMinorityCodeDescription": {
                        "type": "string"
                      },
                      "manufacturerTi": {
                        "type": "string"
                      },
                      "masterPackQuantity": {
                        "type": "string"
                      },
                      "materialSafetyDataSheet": {
                        "type": "string"
                      },
                      "moistureLoss": {
                        "type": "string"
                      },
                      "nutritionalUpdateDate": {
                        "type": "string"
                      },
                      "operatorComments": {
                        "type": "string"
                      },
                      "picturePath": {
                        "type": "string"
                      },
                      "pimGroupId": {
                        "type": "string"
                      },
                      "productMasterNumber": {
                        "type": "string"
                      },
                      "productDescriptionPsysMainframe": {
                        "type": "string"
                      },
                      "cashAndCarryEligible": {
                        "type": "string"
                      },
                      "retailUpc": {
                        "type": "string"
                      },
                      "productDescriptionUsf": {
                        "type": "string"
                      },
                      "productSegmentationEffectiveDate": {
                        "type": "string"
                      },
                      "productSegmentationLevelOne": {
                        "type": "string"
                      },
                      "productSegmentationLevelThree": {
                        "type": "string"
                      },
                      "productSegmentationLevelTwo": {
                        "type": "string"
                      },
                      "productStatus": {
                        "type": "string"
                      },
                      "purchasePackDepth": {
                        "type": "string"
                      },
                      "purchasePackHeight": {
                        "type": "string"
                      },
                      "purchasingPackSizeDescription": {
                        "type": "string"
                      },
                      "purchasePackUom": {
                        "type": "string"
                      },
                      "purchasePackWidth": {
                        "type": "string"
                      },
                      "quantityOfPortions": {
                        "type": "string"
                      },
                      "quantityOfPortionsUom": {
                        "type": "string"
                      },
                      "quantityOfSecondLevelInnerPack": {
                        "type": "string"
                      },
                      "readyToEatProductIndicator": {
                        "type": "string"
                      },
                      "readyToEatTemperatureCheckRequiredIndicator": {
                        "type": "string"
                      },
                      "recommendedServingSize": {
                        "type": "string"
                      },
                      "replacedBy": {
                        "type": "string"
                      },
                      "salesPackSizeLong": {
                        "type": "string"
                      },
                      "salesPackSizeShort": {
                        "type": "string"
                      },
                      "servingSize": {
                        "type": "string"
                      },
                      "servingSizeType": {
                        "type": "string"
                      },
                      "servingSizeUom": {
                        "type": "string"
                      },
                      "servingSuggestions": {
                        "type": "string"
                      },
                      "shelfLife": {
                        "type": "string"
                      },
                      "shelfLifeUom": {
                        "type": "string"
                      },
                      "smallestSalesPackQuantity": {
                        "type": "string"
                      },
                      "smallestSalesPackUsfProductNumber": {
                        "type": "string"
                      },
                      "smallestSalesPackUnit": {
                        "type": "string"
                      },
                      "sourceUsfStandardProductCode": {
                        "type": "string"
                      },
                      "specSheet": {
                        "type": "string"
                      },
                      "starCategoryIntermediate": {
                        "type": "string"
                      },
                      "starCategoryMajor": {
                        "type": "string"
                      },
                      "tradeItemIdentificationType": {
                        "type": "string"
                      },
                      "tradeItemVolumeFromVendor": {
                        "type": "string"
                      },
                      "usaEstIdNum": {
                        "type": "string"
                      },
                      "usfDangerousGoodsCode": {
                        "type": "string"
                      },
                      "usfNetContent": {
                        "type": "string"
                      },
                      "usfProductNumber": {
                        "type": "string"
                      },
                      "vendorDiscontinuedDate": {
                        "type": "string"
                      },
                      "vendorSpecifiedMaximumStackablePallets": {
                        "type": "string"
                      },
                      "vendorSpecifiedMaximumStackableTiers": {
                        "type": "string"
                      },
                      "vendorSpecifiedPalletSize": {
                        "type": "string"
                      },
                      "weightDensity": {
                        "type": "string"
                      },
                      "marketingImage": {
                        "type": "string"
                      },
                      "modificationType": {
                        "type": "string"
                      },
                      "recommendedServingSizeUom": {
                        "type": "string"
                      },
                      "replacementUsfProductNumber": {
                        "type": "string"
                      },
                      "approvedManufacturers": {
                        "type": "string"
                      },
                      "productCodeOnBol": {
                        "type": "string"
                      },
                      "productCodePrinting": {
                        "type": "string"
                      },
                      "productCodeType": {
                        "type": "string"
                      },
                      "meatBuyersGuideNumber": {
                        "type": "string"
                      },
                      "imageAvailabilityIndicator": {
                        "type": "string"
                      },
                      "beefGrade": {
                        "type": "string"
                      },
                      "pimSuperClassId": {
                        "type": "string"
                      },
                      "mainframeId": {
                        "type": "string"
                      },
                      "refStatus": {
                        "type": "string"
                      },
                      "hqFamilyClassId": {
                        "type": "string"
                      },
                      "laptopDesc": {
                        "type": "string"
                      },
                      "descriptionLong": {
                        "type": "string"
                      },
                      "categoryManagerNetworkId": {
                        "type": "string"
                      },
                      "categoryVpNetworkId": {
                        "type": "string"
                      },
                      "lastUpdateDate": {
                        "type": "string"
                      },
                      "nutrientIngredients": {
                        "type": "string"
                      },
                      "cataloguePrice": {
                        "type": "string"
                      },
                      "cataloguePriceEffectiveEndDate": {
                        "type": "string"
                      },
                      "cataloguePriceEffectiveStartDate": {
                        "type": "string"
                      },
                      "colorCodeListAgency": {
                        "type": "string"
                      },
                      "colorCodeValue": {
                        "type": "string"
                      },
                      "colorDescription": {
                        "type": "string"
                      },
                      "genericIngredient": {
                        "type": "string"
                      },
                      "genericIngredientStrength": {
                        "type": "string"
                      },
                      "handlingInstructionsCode": {
                        "type": "string"
                      },
                      "ingredientStrength": {
                        "type": "string"
                      },
                      "isNetContentDeclarationIndicated": {
                        "type": "string"
                      },
                      "minimumTradeItemLifespanFromTimeOfArrival": {
                        "type": "string"
                      },
                      "modelNumberHl": {
                        "type": "string"
                      },
                      "returnGoodsPolicyHl": {
                        "type": "string"
                      },
                      "securityTagLocationHl": {
                        "type": "string"
                      },
                      "tradeItemGroupIdentificationCode": {
                        "type": "string"
                      },
                      "tradeItemGroupIdentificationDescription": {
                        "type": "string"
                      },
                      "biotinRdv": {
                        "type": "string"
                      },
                      "bwWorflowId": {
                        "type": "string"
                      },
                      "carbsOtherRdv": {
                        "type": "string"
                      },
                      "copperRdv": {
                        "type": "string"
                      },
                      "footnoteRdvPercentage": {
                        "type": "string"
                      },
                      "iodineRdv": {
                        "type": "string"
                      },
                      "insolubleFiberRdv": {
                        "type": "string"
                      },
                      "juicepct": {
                        "type": "string"
                      },
                      "magnesiumRdv": {
                        "type": "string"
                      },
                      "niacinRdv": {
                        "type": "string"
                      },
                      "pantothenicRdv": {
                        "type": "string"
                      },
                      "phosphorousRdv": {
                        "type": "string"
                      },
                      "potassiumRdv": {
                        "type": "string"
                      },
                      "riboflavinRdv": {
                        "type": "string"
                      },
                      "servingPerTradeItem": {
                        "type": "string"
                      },
                      "solubleFiberRdv": {
                        "type": "string"
                      },
                      "sugarAlocholRdv": {
                        "type": "string"
                      },
                      "thiaminRdv": {
                        "type": "string"
                      },
                      "totalSugarRdv": {
                        "type": "string"
                      },
                      "vitaminB12Rdv": {
                        "type": "string"
                      },
                      "vitaminB6Rdv": {
                        "type": "string"
                      },
                      "vitaminDRdv": {
                        "type": "string"
                      },
                      "vitaminERdv": {
                        "type": "string"
                      },
                      "vitaminKRdv": {
                        "type": "string"
                      },
                      "zincRdv": {
                        "type": "string"
                      },
                      "division": {
                        "type": "string"
                      },
                      "exclusiveBrand": {
                        "type": "string"
                      },
                      "priorityIndicator": {
                        "type": "string"
                      },
                      "categoryManagerName": {
                        "type": "string"
                      },
                      "categoryVpName": {
                        "type": "string"
                      }
                    }
                  }
                },
                "header": {
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "transId",
                    "transType"
                  ],
                  "properties": {
                    "transId": {
                      "type": "string"
                    },
                    "transType": {
                      "type": "string"
                    },
                    "requestType": {
                      "type": "string"
                    },
                    "userid": {
                      "type": "string"
                    },
                    "effDate": {
                      "type": "string"
                    },
                    "cloneType": {
                      "type": "string"
                    },
                    "isResubmit": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "transaction-id": {
                "description": "Transaction Id retunred to consuming application for co-relation of response to request in logs",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "productResponse",
              "description": "Success",
              "x-amf-examples": {
                "responseMsg": {
                  "responseMsg": "successfully Published to Tibco Queue"
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "x-amf-mediaType": "application/json",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "statusCode": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "x-amf-mediaType": "application/json",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "statusCode": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "x-amf-mediaType": "application/json",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "statusCode": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/brand": {
      "x-amf-description": "This method receives product brand information in json format from pim enable and convert it into xml and publish it into Tibco queue.\n",
      "post": {
        "description": "post the json request\n",
        "parameters": [
          {
            "name": "consumer-id",
            "description": "Unique identifier used to identify consuming application for example, Alfresco",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "transaction-id",
            "description": "Unique value for each API request sent by consuming application for logging tracing.",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_id",
            "description": "Unique identifier assigned to each consuming app for authentication",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_secret",
            "description": "Client secret sent by consuming app for authentication",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "title": "prismPayloadRequest",
              "example": {
                "header": {
                  "transId": "1234",
                  "transType": "PRODUCT",
                  "requestType": "ADD",
                  "userid": "abc",
                  "effDate": "",
                  "cloneType": "",
                  "isResubmit": "N"
                },
                "products": [
                  {
                    "apnMappingRecords": [
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      },
                      {
                        "quantityOfNextLowerTradeItem": "",
                        "purchasingConversionFactor": "",
                        "relType": "",
                        "convFctr": "",
                        "ndgFlag": ""
                      }
                    ],
                    "apnSupplierRecord": {
                      "vendorEthnicityCode": "",
                      "vendorSmallBusinessIndicator": ""
                    },
                    "brandRecord": {
                      "brandType": "",
                      "brandOwnerName": "",
                      "derivedAsysBrandName": "",
                      "derivedPsysBrandName": "",
                      "manufacturerNumber": ""
                    },
                    "childNutritionLabelRecords": [
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      },
                      {
                        "childNutritionCertificate": "",
                        "childNutritionCertification": "",
                        "childNutritionCertificationNumber": ""
                      }
                    ],
                    "claimRecords": [
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      },
                      {
                        "claimName": "",
                        "claimsStatement": "",
                        "certificationAgency": "",
                        "certificationNumber": "",
                        "claimValue": ""
                      }
                    ],
                    "nutrientRecords": [
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      },
                      {
                        "nutrientName": "",
                        "nutrientRDVPercentage": "",
                        "nutrientUOM": "",
                        "nutrientValue": "",
                        "servingPerContainer": ""
                      }
                    ],
                    "pimGroupRecord": {
                      "gpcCode": "",
                      "gpcDefinition": "",
                      "gpcName": "",
                      "industry": "",
                      "udexCategoryCode": "",
                      "billOfLadingCode": "",
                      "pimCategoryId": "",
                      "pimClassId": "",
                      "pimGroupDescription": "",
                      "pimGroupKeywords": "",
                      "storageCode": "",
                      "storageCodeDescription": "",
                      "pimGroup": "",
                      "productClassCode": "",
                      "productCategoryCode": "",
                      "starWarehouseState": "",
                      "starWarehouseHandling": ""
                    },
                    "productContentManagementRecords": [
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      },
                      {
                        "brandName": "",
                        "preparationInstructions": "",
                        "benefits": ""
                      }
                    ],
                    "taxRecords": [
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      },
                      {
                        "taxAgencyCode": "",
                        "taxAmount": "",
                        "taxRate": "",
                        "taxTypeCode": "",
                        "taxTypeDescription": ""
                      }
                    ],
                    "version": "0 / Staging",
                    "state": "",
                    "gtin": "",
                    "glnOfInformationProvider": "",
                    "targetMarketCountryCode": "",
                    "manufacturerProductNumber": "",
                    "barCodeType": "",
                    "canceledDate": "",
                    "classOfDangerousGoods": "",
                    "consumerAvailabilityDateTime": "",
                    "countryOfOrigin": "",
                    "couponFamilyCode": "",
                    "dangerousGoodsHazardousCode": "",
                    "dangerousGoodsIndicator": "",
                    "dangerousGoodsMarginNumber": "",
                    "dangerousGoodsPackingGroup": "",
                    "dangerousGoodsRegulationCode": "",
                    "dangerousGoodsShippingName": "",
                    "dangerousGoodsTechnicalName": "",
                    "degreeOfOriginalWortFmcg": "",
                    "deliveryMethodIndicator": "",
                    "deliveryToDistributionCenterTemperatureMaximum": "",
                    "deliveryToDistributionCenterTemperatureMinimum": "",
                    "deliveryToMarketTemperatureMaximum": "",
                    "deliveryToMarketTemperatureMinimum": "",
                    "departmentOfTransportationDangerousGoodsNumberHl": "",
                    "salesPackDepth": "",
                    "descriptionAdditional": "",
                    "productDescriptionLaptop": "",
                    "descriptiveSize": "",
                    "diameter": "",
                    "discontinuedDate": "",
                    "drainedWeight": "",
                    "pimAddDate": "",
                    "endAvailabilityDateTime": "",
                    "fatPercentageInDryMatterFmcg": "",
                    "flashPointTemperature": "",
                    "functionalName": "",
                    "glnOfBrandOwner": "",
                    "glnOfContentOwner": "",
                    "glnOfManufacturer": "",
                    "glnOfPartiesReceivingPrivateData": "",
                    "glnOfRepresentingParty": "",
                    "glnOfSourceDataPool": "",
                    "grossWeight": "",
                    "harmonizedTariffSystemIdentificationCodeHl": "",
                    "hasBatchNumber": "",
                    "salesPackHeight": "",
                    "productDescriptionCustomerProprietary": "",
                    "isBarCodeSymbologyDerivable": "",
                    "isItemAConsumerUnit": "",
                    "isItemADispatchUnitShipping": "",
                    "catchWeightItem": "",
                    "isItemAnInvoiceUnit": "",
                    "isItemAnOrderableUnit": "",
                    "isNonSoldTradeItemReturnable": "",
                    "isPackagingMarkedAsRecyclable": "",
                    "isPackagingMarkedReturnable": "",
                    "isPackagingMarkedWithExpirationDate": "",
                    "isPackagingMarkedWithGreenDot": "",
                    "isPackagingMarkedWithIngredients": "",
                    "isReload": "",
                    "isUpcDerivableFromGtin": "",
                    "linearUnits": "",
                    "materialSafetyDataSheetNumber": "",
                    "nameOfInformationProvider": "",
                    "manufacturerName": "",
                    "nameOfSourceDataPool": "",
                    "nestingIncrementHl": "",
                    "netContent": "",
                    "netContentUom": "",
                    "netWeight": "",
                    "orderQuantityMaximum": "",
                    "orderQuantityMinimum": "",
                    "orderQuantityMultiple": "",
                    "orderSizingFactor": "",
                    "orderSizingFactorUom": "",
                    "orderingLeadTime": "",
                    "orderingUomHl": "",
                    "outOfBoxDepthHl": "",
                    "outOfBoxHeightHl": "",
                    "outOfBoxWidthHl": "",
                    "packagingMaterialCode": "",
                    "packagingMaterialCodeListMaintenanceAgency": "",
[...]
